<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cq.xinyupintai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Presenter.activity.Mainbutton"
            android:label="@string/title_activity_mainbutton"></activity>
        <activity android:name=".Presenter.activity.bankcard.addbankcard" />
        <activity android:name=".Presenter.activity.bankcard.bankcardlistview" />
        <activity android:name=".Presenter.activity.bankcard.bankcard" />
        <activity android:name=".Presenter.activity.BossActivity" />
        <activity android:name=".Presenter.activity.ClosingStockActivity" />
        <activity android:name=".Presenter.activity.register" />
        <activity
            android:name=".Presenter.activity.MainView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Presenter.activity.EditCard" />
    </application>

</manifest>